body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url(../images/background.jpg),
    linear-gradient(
      177deg,
      rgba(145, 15, 48, 1) 0%,
      rgba(149, 19, 52, 1) 70%,
      rgba(0, 0, 0, 1) 100%
    );
  background-repeat: repeat-x, no-repeat;
  background-size: 100% 360px, contain;
  background-position: fixed, center;
  background-attachment: scroll, fixed;
  transform: rotate(30);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
